@import url('https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&display=swap');

.page {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    background-color: #e5e5e5;
    background-image: url('background_site.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    text-align: center;
    scroll-behavior: smooth;
}

.header {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.header__nav {
    max-width: 1200px;
    min-width: 800px;
    margin: 0 auto;
    width: 100%;
}

.header__menu {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
}

.header__menu-item {
    display: inline-block;
    margin: 0;
}

.header__menu-link {
    color: white;
    text-decoration: none;
    font-size: 50px;
    font-family: 'Nanum Brush Script', cursive;
    white-space: nowrap;
    padding: 0 15px;
}

.intro {
    margin-top: 100px;
    padding: 20px;
    height: 1024px;
}

.intro__title {
    margin-bottom: 40px;
    font-size: 100px; 
    color: black;
    font-family: 'Pho Tai', sans-serif;
}

.intro__subtitle {
    font-size: 60px; 
    color: white; 
    font-family: 'Pho Tai', sans-serif;
}

.intro__profile-pic {
    margin-top: 50px;
}

.intro__profile-pic-img {
    border-radius: 50%;
    width: 505px;
    height: 505px;
}

.intro__title--with-background {
    position: relative;
    display: inline-block;
    padding: 5px 15px;
    color: rgb(0, 0, 0);
}

.intro__title--with-background::before {
    content: '';
    position: absolute;
    top: 25px;
    left: 30px;
    width: 783px;
    height: 75px;
    background-image: url('under_name.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    z-index: -1;
}

.about-skills {
    margin-left: 120px;
    padding: 50px 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    height: 1024px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-skills__text {
    width: 50%;
    padding-right: 20px;
}

.about-skills__title {
    font-size: 80px; 
    margin-bottom: 20px;
    color: black; 
}

.about-skills__description {
    font-size: 50px; 
    font-family: 'Nanum Brush Script', cursive; 
    color: white; 
}

.about-skills__skills {
    font-size: 50px;
    font-family: 'Nanum Brush Script', cursive;
    color: white;
}

.about-skills__icons {
    max-width: 80%;
    margin-top: 20px;
}

.about-skills__image {
    width: 30%;
}

.about-skills__image-img {
    width: 100%;
    height: auto;
    border-radius: 0;
}

.design,
.modeling,
.contact {
    padding: 50px 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    height: 1024px;
}

.design__title,
.modeling__title,
.contact__title {
    margin-left: 120px;
    text-align: left;
    font-size: 80px; 
    margin-bottom: 20px;
    color: black;
    z-index: 1;
}

.design__title::before,
.modeling__title::before,
.contact__title::before {
    content: '';
    position: absolute;
    background-image: url('under_h.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    z-index: -1;
}

.contact__item {
    margin-top: 25px;
    margin-left: 180px;
    text-align: left;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 80px;
    font-family: 'Nanum Brush Script', cursive;
}

.contact__link {
    margin-top: 10px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 80px;
    font-family: 'Nanum Brush Script', cursive;
}

.contact__icon {
    width: 112px;
    height: 112px;
    vertical-align: middle;
    margin-right: 10px;
}

.back-to-top {
    position: fixed;
    left: 45px;
    bottom: 45px;
    transition: transform 2s;
}

.back-to-top--rotating {
    transform: rotate(360deg);
}

.design__slider {
    width: 50%;
    height: 80%;
    margin-top: 100px;
}

.design__slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.design__slide-img {
    width: 58%;
    object-fit: cover;
}

.design__slider-button--next {
    right: 400px !important; 
    left: auto;
    color: black;
}

.design__slider-button--prev {
    left: 400px !important; 
    right: auto;
    color: black;
}
